<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Forms</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script defer src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>    
</head>
    <body>

        <div id="app">
            <form @submit.prevent="submitForm">
                <div v-for="(field, index) in fields" :key="field.fieldId">
                    <label>$[[ field.fieldName ]]:</label>
                    <input v-if="field.type === 'number'" type="number" :name="'field_' + field.fieldId" v-model = "field.typeName" />
                    <input v-else-if="field.type === 'text'" type="text" :name="'field_' + field.fieldId" v-model = "field.typeName"/>
                    <input v-else-if="field.type === 'image'" type="file" :name="'field_' + field.fieldId" accept="image/*" v-model = "field.typeName"/>
                    <input v-else-if="field.type === 'video'" type="file" :name="'field_' + field.fieldId" accept="video/*" v-model = "field.typeName" />
                    <button @click="removeField(field.fieldId)">Remove</button>
                </div>
                <input type="text" class="fieldName" v-model="fieldName">
                <select v-model="fieldType">
                    <option v-for="type in fieldTypes" :value="type">$[[ type ]]</option>
                </select>
                <button type="button" @click="addField">Add Field</button>
                <button type="submit">Submit</button>
            </form>
        </div>
        <script src="https://unpkg.com/petite-vue"></script>
        <script>
            PetiteVue.createApp({
                fields: [],
                fieldCounter: 0, // To generate unique fieldIds
                fieldName: '',
                fieldTypes: ['number', 'text', 'image', 'video'],
                typeName: '',
                fieldType: '',
                addField() {
                    this.fieldCounter++;
                    this.fields.push({
                        fieldId: this.fieldCounter,
                        fieldName: this.fieldName,
                        fieldVal: '',
                        type: this.fieldType,
                        typeName: ''
                    });
                    this.fieldName = '';
                    this.fieldType = '';
                },
                removeField(fieldId) {
                    const indexToRemove = this.fields.findIndex(field => field.fieldId === fieldId);
                    if (indexToRemove !== -1) {
                        this.fields.splice(indexToRemove, 1);
                    }
                },
                submitForm() {
                    console.log(this.fields);
                },
                // },
                $delimiters: ['$[[', ']]']
            }).mount('#app');
        </script>
    
    </body>
</html>